
#more {display: none;}

.dummy{
	
	padding: 15px;
	background: #F2F5F7;
	border: 1px solid #EAEFF2;
	margin-bottom: 25px;
}
.dummy p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.08em;
}


/*Gallery*/
/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  display: flex;
}
/* The expanding image container */
.containerr {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 5px;
  left: 10px;
  color: white;
  font-size:20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
/*Gallery*/

